<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- Template based on  Matthew James Taylor's "Perfect 3 Column Liquid Layout" at http://matthewjamestaylor.com/blog/perfect-3-column.htm -->
<html lang='en' xml:lang='en' xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="keywords" content="Botond Sipos, sbotond, homepage, publications, honlap" />
    <title>Botond Sipos - {{ page.title }}</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
   
    <!-- Google Analytics tracking code --> 
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2207890-5']);
        _gaq.push(['_trackPageview']);
        (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
    </script>
    <!-- Google+ verification link -->
    <link href="https://plus.google.com/103486676558203123085" rel="publisher"/>
    <!-- Load MathJax -->
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> 
    <!-- ShareThis -->
    <script type="text/javascript">var switchTo5x=false;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "123e9348-7179-442f-8537-b050377323ab", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script> 
</head>

<body>

<div class="colmask threecol">
    <div class="colmid">
        <div class="colleft">

            <div class="col1">
                <!-- Column 1 start -->
                <h1 class="post_title"><a class="post_title" href="{{ page.url }}">{{ page.title }}</a></h1>
                <div class="datum">{{ page.date | date: "%d %B %Y" }}</div>

                {{ content }}

                <!-- ShareThis buttons -->
                <span class='st_twitter_hcount' displayText='Tweet'></span>
                <span class='st_googleplus_hcount' displayText='Google +'></span>
                <span class='st_facebook_hcount' displayText='Facebook'></span>
                <!-- Column 1 end -->
            </div>

            <div class="col2">
                <!-- Column 2 start -->

                    <ul class="sidebar">
                        <li> <a href="/" class="logo"><img src="/files/pix/photo.jpg" alt="photo"/></a> </li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/projects.html">Projects</a></li>
                        <li><a href="/blog.html">Blog</a></li>
                    </ul>

                <!-- Column 2 end -->
            </div>

            <div class="col3">
                <!-- Column 3 start -->
                <a class="fancy" href="/blog_archives.html">Archives</a>
                <ul class="posts">
                {% for post in site.posts limit: 20 %}
                  <div class="post_info">
                    <li>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                    </br> <em>{{ post.excerpt }} </em>
                    </div>
                  {% endfor %}
                </ul>

                <!-- Column 3 end -->
            </div>
        </div>
    </div>
</div>

</body>

</html>
